# Project exclude paths
/project/project/target/
/project/target/
/target/
/target/coffeescript/
/target/jshint/
/target/less/
/target/resolution-cache/
/target/scala-2.11/classes/
/target/streams/
/target/web/